
/*Navbar background and font color setting*/
.navbar-default
{
	background-color: #FFFFFF;
	border-bottom: 0.5rem solid #a5d18c;
	width: 100%;
	min-width: 1280px;
	min-height: 80px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .dropdown div.dropdown-menu > a
{
	color: #555;
}


.navbar-default .form-inline .input-group-text > i,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav .dropdown div.dropdown-menu > a:hover,
.navbar-default .navbar-nav .dropdown div.dropdown-menu > a:focus,
.navbar-default .navbar-nav .dropdown div.dropdown-menu > a.active
{
	color: #00786F;
}

/*Navbar searchbar shadow setting*/
.navbar-default input:focus
{
	outline: 0;
	border: 1px solid #00786F;
	box-shadow: 0px 0px 3px 0px #00786F;
}

.navbar-default .input-group-text,
.navbar-default input.form-control
{
	background-color: white;
	border: none;
}

.navbar-default input.form-control
{
	font-size: 0.75rem;
	padding: 0;
	font-weight: 600;
}

/*Navbar Dropdown setting*/
.navbar-default .nav-link .user-picture
{
	border: 2px solid #555;
	border-radius: 50%;
}

.navbar-default .navbar-nav .dropdown div.dropdown-menu,
.navbar-default .navbar-nav .dropdown div.dropdown-menu > .dropdown-divider
{
	margin: 0;
	padding: 1px;
}

.navbar-default .navbar-nav .dropdown div.dropdown-menu > a
{
	padding: 8px 14px;
}

.navbar-default .navbar-nav .dropdown div.dropdown-menu > a.active,
.navbar-default .navbar-nav .dropdown div.dropdown-menu > a:hover,
.navbar-default .navbar-nav .dropdown div.dropdown-menu > a:focus
{
	background-color: rgb(233, 236, 239);
}

.dropdown:hover .dropdown-menu,
{
    display: block;
}

.navbar-toggler
{
	color: #00786F;
	border-color: rgba(0, 0, 0, .1);
}

button:focus
{
	outline: 0;
	border: 1px solid #00786F;
	box-shadow: 0px 0px 3px 0px #00786F;
}

/*Nav Bar Layout Responsive Setting*/
@media (max-width: 992px)
{
	.form-inline
	.input-group
	{
    	width: 100%;
	}

	#navbarNav > ul,
	#navbarNav .dropdown-item
	{
		text-align: center;
	}
}

@media (min-width: 992px)
{
	.form-inline .input-group
	{
    	width: 500px;
	}

	.navbar-default .navbar-nav > li > a
	{
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

